# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

CREDITS-fml.txt
LICENSE-new.txt
MinecraftForge-Credits.txt
Pauluscode\ IBXM Library\ License.txt
Pauluscode\ SoundSystem\ CodecIBXM\ License.txt
README.txt
*.gradle
forge-*
gradlew
gradle/
gradlew.bat